<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<title>Bet Advisor</title>

<link rel="stylesheet" href="/style.css" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	
</script>

</head>
<body>
	<button id="mergeButton" type="button"
		class="btn btn-outline-primary btn-sm m-0" onclick="merge()">Merge</button>

	<div class="container" align="center">
		<form th:action="@{/update}" th:object="${samplingParameters}"
			method="post">
			<div>
				<div class="form-check form-check-inline"
					th:each="bookmaker : ${allBookmakers}">
					<input class="form-check-input" type="checkbox"
						th:field="*{bookmakers}" th:value="${bookmaker.id}"> <label
						class="form-check-label" th:text="${bookmaker.name}"></label>
				</div>
			</div>
			<div>
				<div class="form-check form-check-inline"
					th:each="sport : ${allSports}">
					<input class="form-check-input" type="radio"
						th:field="*{selectedSport}" th:value="${sport}"> <label
						class="form-check-label" th:text="${sport}"></label>
				</div>
			</div>

			<div>
				<button class="btn btn-outline-secondary" type="submit"
					name="sample">Sample</button>
				<button id="analyze" class="btn btn-outline-secondary" type="submit"
					name="event">Analyze</button>
				<input id="scrollPosition" type="hidden"
					th:value="${samplingParameters.scrollPosition}"
					name="scrollPosition" />
			</div>
		</form>

		<table class="table  m-2" th:if="${!events.isEmpty()}">
			<thead class="thead-light">
				<tr>
					<th>Date</th>
					<th>Events</th>
					<th>Offers</th>
					<th>Profit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="event : ${events}">
					<td th:text="${event.id}" hidden></td>
					<td th:text="${#dates.format(event.date, 'dd-MM-yyyy HH:mm')}"></td>
					<td
						th:text="${event.homeTeam.name + ' vs ' + event.guestTeam.name}"
						class="unselected" onclick="selectEvent(this)"
						onmouseover="changeCursor(this)" onmouseout="restoreCursor(this)"></td>
					<td>
						<table class="table m-0">
							<thead>
								<tr>
									<th>Bookmaker</th>
									<th>1</th>
									<th>X</th>
									<th>2</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="offer: ${event.offers}">
									<td th:text="${offer.bookmaker.name}"></td>
									<td
										th:style="${offer.home >= event.getBestHome() ? 'color: blue;' : 'color: black;'}"
										th:text="${#numbers.formatDecimal(offer.home,1,2)}"></td>
									<td
										th:style="${offer.draw >= event.getBestDraw() ? 'color: blue;' : 'color: black;'}"
										th:text="${#numbers.formatDecimal(offer.draw,1,2)}"></td>
									<td
										th:style="${offer.guest >= event.getBestGuest() ? 'color: blue;' : 'color: black;'}"
										th:text="${#numbers.formatDecimal(offer.guest,1,2)}"></td>
								</tr>
							</tbody>
						</table>
					</td>
					<td
						th:style="${event.getProfit() <= 2 ? 'color: red;' : 'color: black;'}"
						th:text="${#numbers.formatDecimal(event.getProfit(),1,2)}"></td>


				</tr>
			</tbody>
		</table>
	</div>
</body>

<script type="text/javascript">
	var eventsToMerge = [];

	function selectEvent(eventName) {
		var event = eventName.parentNode;
		var id = event.children[0];

		if (eventName.className == "unselected") {
			eventName.className = "selected";
			eventsToMerge.push(parseInt(id.textContent));
			if (eventsToMerge.length > 1) {
				$('#mergeButton').show();
			}
		} else {
			eventName.className = "unselected";
			removeItem(eventsToMerge, parseInt(id.textContent));
			if (eventsToMerge.length < 2) {
				$('#mergeButton').hide();
			}
		}
	}

	$(function() {
		$('#mergeButton').hide();
		var scrollPos = $('#scrollPosition').val();
		window.scrollTo(0, scrollPos);
	});

	function removeItem(array, item) {
		for ( var i in array) {
			if (array[i] == item) {
				array.splice(i, 1);
				break;
			}
		}
	}

	function merge() {
		$.ajax({
			contentType : "application/json",
			type : "POST",
			data : JSON.stringify(eventsToMerge),
			url : "/merge",
			success : function(data) {
				console.log("done");
				scrollPos = $(window).scrollTop();
				$('#scrollPosition').val(scrollPos);
				$('#analyze').trigger('click');
			},
			error : function(jqXHR, textStatus, errorThrown) {
				console.log('error');
			}

		});
	}

	var cursor;
	function changeCursor(el) {
		cursor = document.body.style.cursor;
		document.body.style.cursor = 'pointer';
	}

	function restoreCursor(el) {
		document.body.style.cursor = cursor;
	}
</script>

</html>

